@font-face{
  font-family: Omelette1;
  src : url(../html/Omelette/fonts/outfit/static/Outfit-Black.ttf)
}
@font-face{
  font-family: Omelette2;
  src : url(../html/Omelette/fonts/outfit/static/Outfit-Bold.ttf)
}
@font-face{
  font-family: Omelette3;
  src : url(../html/Omelette/fonts/outfit/static/Outfit-ExtraBold.ttf)
}
@font-face{
  font-family: Omelette4;
  src : url(../html/Omelette/fonts/outfit/static/Outfit-ExtraLight.ttf)
}
@font-face{
  font-family: Omelette5;
  src : url(../html/Omelette/fonts/outfit/static/Outfit-Light.ttf)
}
@font-face{
  font-family: Omelette6;
  src : url(../html/Omelette/fonts/outfit/static/Outfit-Medium.ttf)
}
@font-face{
  font-family: Omelette7;
  src : url(../html/Omelette/fonts/outfit/static/Outfit-Regular.ttf)
}
@font-face{
  font-family: Omelette8;
  src : url(../html/Omelette/fonts/outfit/static/Outfit-SemiBold.ttf)
}
@font-face{
  font-family: Omelette9;
  src : url(../html/Omelette/fonts/outfit/static/Outfit-Thin.ttf)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.warrap{
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
}

.container{
  margin-top: 30px;
  border-radius: 30px;
  width: 600px;
  background-color: hsl(330, 100%, 98%);
}

.card {
  padding: 30px;
}

#img{
  width: 550px;
  border-radius: 10px;
}
.img{
  text-align: center;
}
.title{
  margin: 10px 0 10px 0;
  /* font-family: Omelette7; */
}
.span1 {
  font-size: small;
  font-family: Omelette7;
  margin-bottom: 20px;
}

.incard {
  background-color: hsl(312, 77%, 95%);
  padding: 10px;
  font-family: Omelette5;
  margin-bottom: 20px;
}
.incard > div > h3{
  padding: 10px;
  color: hsl(332, 51%, 32%);
}
.incard >div> ul >li{
  padding: 5px 0 8px 10px;
  margin-left: 30px;
}

.list1{
  margin-left: 20px;
  padding: 20px 0 10px 0;
  
}
.list1 > ul > li{
  padding: 0 0  10px 18px;
  font-size: small;
  font-family: Omelette5;
}

.title3{
  margin: 20px 0 10px 0;
}

.list2 > ol > li{
  margin: 0 0 0 15px;
  padding: 0 0 8px 20px;
  font-size: small;
  font-family: Omelette7;
}

.title4{
  margin: 15px 0 15px 0;
}

.span2{
  font-size: small;
  font-family: Omelette7;
  margin-bottom: 15px;
}

.Nutrition{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 14px 25px;
}
.ss{
  width: 300px;
}

h2, .ss{
  color: hsl(332, 51%, 32%);
}
.ss{
  font-family: Omelette3;
}

.list2 > ol {
  list-style: decimal;
}
.list2 > ol > li::marker{
  color: hsl(332, 51%, 32%);
}
@media all and (max-width:479px){
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .container{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 0;
    margin-left: 13px;
    background-color: white;
  }
  .card{
    margin-top: -60px;
    margin-left: 28px;
  }
  .title{
    font-size: 28px;
    padding: 0 0 10px 30px;
  }
  .span1{
    font-size: 21px;
    margin-left: 28px;
  }
  .warrap{
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .incard{
    /* padding: 0px; */
    margin: 20px;
    border-radius: 10px;
    width: 500px;
    justify-content: center;
  }

}